.titleBar{
    background-color: black;
    display: block;
    color: White;
    padding-left: 10px;
}

.titleBar h2{
    margin-left: 10px;
}

footer{
    background-color: gray;
}

.mySlides{
    width: 100%;
    height: 500px;
}